# archivos fuente o con copyright de la documentación
*libro*
*.aux
*.log
*.synctex.gz
# datos
*.txt
*.gcx
# administrativo
*.tex
*solucion/*
*resultados*
# archivos propios del IDE (Pycharm)
.idea/*
